<button type="button" class="btn btn-quizloaded" ng-click="exerciseOpen[$index] = !exerciseOpen[$index]"
        style="width: 100%; text-align: left; white-space: normal; background-color: white; position: relative">
    <img ng-src="{{getImage(exercise.content.question.image)}}"  ng-style="{'width': '100%'}">
    <div ng-show="exerciseOpen[$index]" class="container-fluid" align="center">
        <p>Vis fasit</p>
        <span class="glyphicon glyphicon-chevron-down" style="font-size: 25px; margin-top: -10px"></span>
    </div>
    <div ng-if="exercise.answer_status" style="position: absolute; top: 7px; right: 10px;">
        <span class="fa fa-check-square-o" style="font-size: 20px" ng-style="getCorrectStyle()"></span>
    </div>
    <div ng-show="!exerciseOpen[$index]" class="container-fluid" align="center">
        <p>Skjul fasit</p>
        <span class="glyphicon glyphicon-chevron-up" style="font-size: 25px; margin-top: -10px"></span>
    </div>
</button>
<div uib-collapse="exerciseOpen[$index]">
    <div class="well well-sm" align="left" style="margin-bottom: 10px">
        <img ng-src="{{getImage(exercise.content.correct.image)}}"  ng-style="{'width': '100%'}">
    </div>
</div>