<button type="button" class="btn btn-quizloaded" ng-click="exerciseOpen[$index] = !exerciseOpen[$index]" style="width: 100%; text-align: left; white-space: normal">
    <span class="pre-wrap-text">{{exercise.content.question.text}}</span>
</button>
<div uib-collapse="exerciseOpen[$index]">
    <div class="well well-sm" align="left" style="margin-bottom: 0">
        <div ng-repeat="alternative in exercise.content.corrects">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="pre-wrap-text">{{alternative.answer}}</span>
        </div>
    </div>
</div>