<head>
    <meta charset="UTF-8">
</head>

<script type="text/ng-template" id="reportModal.html">
    <div ng-hide="sendPressed" class="container-fluid">
        <div class="modal-header">
            <h3>Feilrapportering</h3>
        </div>
        <div class="modal-body">
            <textarea style="resize: none; left: 0" ng-model="message" rows="4" cols="30" placeholder="Beskrivelse"></textarea>
            <div class="container-fluid">
                <span><input style="margin-top: 2px" type="checkbox" ng-model="sendMail">Informer meg om endringer</span>
                <input ng-show="sendMail" class="form-control" ng-model="userMail" placeholder="E-mail">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="isSending" ng-click="send()">Send</button>
            <button class="btn btn-default" ng-disabled="isSending" ng-click="cancel()">Avbryt</button>
        </div>
    </div>
    <div ng-if="sendPressed && isSuccess" class="container-fluid">
        <div class="modal-header">
            <h3>Rapport sendt</h3>
        </div>
        <div class="modal-body">
            <p>Takk for hjelpen!</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Lukk</button>
        </div>
    </div>
    <div ng-if="sendPressed && !isSuccess" class="container-fluid">
        <div class="modal-header">
            <h3>Rapport ikke sendt</h3>
        </div>
        <div class="modal-body">
            <p>{{errorMessage}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="tryAgain()">Prøv igjen</button>
            <button class="btn btn-default" ng-click="cancel()">Avbryt</button>
        </div>
    </div>

</script>