
<div class="container-fluid" style="width: 960px; margin-top: -15px; background-color: white">
    <nav class="navbar navbar-default navbar-static-top"  role="navigation" style=" width: 960px; margin-left: -15px; height: 100px;" ng-style="setColor(exercise.color)">
        <div class="container-fluid">
            <div class="container-fluid" align="center" style="width: 90%">
                <h1 class="h1-subjectName" style="color: white; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{exercise.subject_name}}</h1>
                <h4 class="h1-subjectName" style="color: white; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{exercise.collection_name}}</h4>
            </div>
        </div>
    </nav>

    <div ng-if="exercise.type=='mc'" ng-include="'webapp/exerciseViewParts/mc.html'"></div>
    <div ng-if="exercise.type=='tf'" ng-include="'webapp/exerciseViewParts/tf.html'"></div>
    <div ng-if="exercise.type=='pd'" ng-include="'webapp/exerciseViewParts/pd.html'"></div>
    <div ng-if="exercise.type=='math'" ng-include="'webapp/exerciseViewParts/math.html'"></div>

    <div class="cssload-container" ng-if="loading">
        <div class="cssload-item cssload-moon"></div>
    </div>
</div>