

<div ng-app="mainApp.webapp" ng-controller="mcCtrl">
    <div class="container-fluid" style="width: 960px; margin-left: -15px">
        <div ng-style="getQHeight() > 170 ? {'height': (getQHeight()+30)+'px'}:{'height': 190+'px'}" class="container-fluid">
            <div id="question">
                <h3 align="left">{{exercises[number].question.text}}</h3>
                <div ng-if="exercises[number].question.image" style="margin-bottom: 10px" align="center">
                    <img ng-src="{{getImage(exercises[number].question.image)}}" ng-click="showBigImage=!showBigImage"
                         ng-style="showBigImage? {'height': '400px', 'cursor': 'pointer'}: {'height': '200px', 'cursor': 'pointer'}">
                </div>
            </div>
        </div>

        <div ng-class="'div-alternatives'" ng-repeat="i in ordering track by $index" ng-style="{'width': (100/alternatives.length-1) +'%'}">
            <button ng-mouseover="setButtonClassNum()" ng-class="getButtonClass($index, ordering.length)" class="btn-mcalternatives" ng-style="getStyle(i)" ng-click="checkAnswer(i)" onclick="this.blur()">
                {{alternatives[i].answer}}
            </button>
        </div>


        <div ng-include="'webapp/quiz_buttons.html'"></div>
    </div>

</div>

