
<div ng-app="mainApp.webapp" ng-controller="pdCtrl">
    <div class="container-fluid" style="width: 960px; margin-left: -15px">
        <div ng-style="getQHeight() > 170 ? {'height': (getQHeight()+30)+'px'}:{'height': 190+'px'}" class="container-fluid">
            <div id="question">
                <h3 align="left">{{exercises[number].question.text}}</h3>
                <div class="container-fluid" ng-if="exercises[number].question.image" align="center">
                    <img src="{{getImage(exercises[number].question.image)}}" style="height: 200px">
                </div>
            </div>
        </div>

        <div ng-repeat="i in ordering track by $index" ng-class="'div-alternatives'" ng-style="{'width': (100/ordering.length-1)+'%'}">
            <button ng-mouseover="setButtonClassNum()" ng-class="getButtonClass($index, ordering.length)" class="btn-mcalternatives" ng-click="checkAnswer(i)" onclick="this.blur()" ng-style="getStyle(i)">
                {{getAlternative(i)}}
            </button>
        </div>



        <div ng-include="'webapp/quiz_buttons.html'"></div>


    </div>
</div>