<div class="container-fluid" align="center" style="margin-top: 200px; margin-bottom: 20px">
    <button class="btn btn-round" uib-popover="Rapporter feil i oppgaven" popover-trigger="mouseenter" ng-click="openReport()" ng-style="setColor(subject.color)">
        <span class="glyphicon glyphicon-flag" style="color: white; font-size: 20px"></span>
    </button>
    <!--<button class="btn btn-round" uib-popover-template="'exerciseInfo.html'" popover-trigger="mouseenter" popover-title="Forklaring:" type="button" ng-style="{'background-color': '#'+'{{subject.color}}'}">-->
        <!--<img src="img/info.png" style="width: 40px">-->
    <!--</button>-->
    <button ng-show="nextBtn" class="btn btn-round" ng-click="nextExercise()" ng-style="setColor(subject.color)">
        <span class="glyphicon glyphicon-chevron-right" style="color: white; font-size: 20px"></span>
    </button>
</div>