<div class="container-fluid" align="center" style="margin-top: 50px; margin-bottom: 20px">

    <span style="width: 65px; display: inline-block">
        <button ng-show="number-threshold*(round-1) > 0" class="btn btn-round" ng-click="prevNumber()" ng-style="setColor(subject.color)">
            <span class="glyphicon glyphicon-chevron-left" style="color: white; font-size: 20px"></span>
        </button>
    </span>
    <span style="width: 65px; display: inline-block">
        <button class="btn btn-round" uib-popover="Rapporter feil i oppgaven" popover-trigger="'mouseenter'" ng-click="openReport()" ng-style="setColor(subject.color)">
            <span class="glyphicon glyphicon-flag" style="color: white; font-size: 20px"></span>
        </button>
    </span>
    <span style="width: 65px; display: inline-block">
        <button ng-show="nextBtn || number < maxNumber || userAnswered[number].show" class="btn btn-round" ng-click="nextExercise()"
                ng-style="setColor(subject.color)">
            <span class="glyphicon glyphicon-chevron-right" style="color: white; font-size: 20px"></span>
        </button>
    </span>
    <!--<button class="btn btn-round" uib-popover-template="'exerciseInfo.html'" popover-trigger="mouseenter" popover-title="Forklaring:" type="button" ng-style="{'background-color': '#'+'{{subject.color}}'}">-->
        <!--<img src="img/info.png" style="width: 40px">-->
    <!--</button>-->
</div>