
<div ng-include="'navbar/navbar_quiz.html'"></div>
<div ng-if="number < threshold" class="container-fluid" style="width: 85%; margin-top: -20px;">
    <uib-progressbar max="threshold" value="number + 1" type="custom" ng-style="{'background-color': '#'+'{{subject.color}}'}">
        <span style="color: black; white-space: nowrap; "></span>
    </uib-progressbar>
</div>


<script type="text/ng-template" id="exerciseInfo.html">
    <div ng-if="exercises[number].explanation == undefined">Ingen forklaring til oppgaven...</div>
    <div>{{exercises[number].explanation}}</div>
</script>

<div ng-include="'modal/reportModal.html'"></div>


<div ng-include="showByType(number)"></div>



