<head>
    <meta charset="utf-8">
</head>

<div ng-app="mainApp.webapp" ng-controller="resultCtrl">
    <div class="container-fluid" align="center">
        <h1>{{feedbackText}}</h1>
        <h2>{{score}} av {{threshold}}</h2>
        <br>
        <div class="container-fluid" style="width: 300px;">
            <a href="#/">
                <button uib-popover="Hovedside" popover-trigger="mouseenter" class="btn btn-round" ng-style="setColor(subject.color)">
                    <span class="glyphicon glyphicon-home" style="color: white; font-size: 30px"></span>
                </button>
            </a>
            <a href="#/webapp/{{subject._id}}">
                <button uib-popover="{{subject.name}}" popover-trigger="mouseenter" class="btn btn-round" ng-style="setColor(subject.color)">
                    <span class="glyphicon glyphicon-book" style="color: white; font-size: 30px"></span>
                </button>
            </a>
            <button ng-show="showContinueBtn()" uib-popover="Videre" popover-trigger="mouseenter" class="btn btn-round" ng-click="startQuiz()"
                    ng-style="setColor(subject.color)">
                <img src="img/more-quiz-icon-white.png" style="width: 40px">
            </button>
            <button ng-show="showAgainBtn()" uib-popover="Igjen" popover-trigger="mouseenter" class="btn btn-round" ng-click="startQuiz()"
                    ng-style="setColor(subject.color)">
                <span class="glyphicon glyphicon-repeat" style="color: white; font-size: 30px;"></span>
            </button>
        </div>
    </div>

    <div ng-hide="score == threshold" class="container-fluid" style="width: 60%; margin-top: 50px; margin-bottom: 30px">
        <h3>Til neste gang:</h3>
        <div ng-repeat="wrong in wrongList track by $index">
            <br>
            <h4>{{exercises[wrong].question.text}}</h4>
            <h5 ng-repeat="correctAns in getCorrectAnswer(wrong)">- &nbsp;&nbsp; {{correctAns}}</h5>
            <h5 ng-repeat="wrongAnswer in getWrongAnswer(wrong)">- &nbsp;&nbsp; <s>{{wrongAnswer}}</s></h5>
        </div>
    </div>
</div>
