<head>
    <meta charset="utf-8">
</head>

<div ng-app="mainApp.webapp" ng-controller="resultCtrl">
    <div align="center">
        <h1>{{feedbackText}}</h1>
        <h2>{{score}} av {{threshold}}</h2>
        <div class="container-fluid" style="width: 100px; margin-bottom: 20px;">
            <button ng-show="showContinueBtn()" style="margin-left: -5px" class="btn btn-round" ng-click="startQuiz()"
                    ng-style="setColor(subject.color)">
                <img src="img/more-quiz-icon-white.png" style="width: 40px">
            </button>
            <button ng-show="showAgainBtn()" style="margin-left: -5px" class="btn btn-round" ng-click="startQuiz()"
                    ng-style="setColor(subject.color)">
                <span class="glyphicon glyphicon-repeat" style="color: white; font-size: 30px;"></span>
            </button>
        </div>
        <div class="container-fluid" style="width: 220px">

            <i><p>Hva synes du om quizen?</p></i>
            <button ng-click="sendUserFeedback(true)"
                    uib-popover-template="'userFeedbackPopover.html'" popover-is-open="showPositiveFeedback" popover-trigger="'none'" popover-title="Takk for tilbakemeldingen!"
                    popover-placement="left"
                    class="btn btn-round" ng-style="setColor(subject.color)">
                <span class="glyphicon glyphicon-thumbs-up" style="color: white; font-size: 30px"></span>
            </button>
            <button ng-click="sendUserFeedback(false)"
                    uib-popover-template="'userFeedbackPopover.html'" popover-is-open="showNegativeFeedback" popover-trigger="'none'" popover-title="Takk for tilbakemeldingen!"
                    popover-placement="right"
                    class="btn btn-round" ng-style="setColor(subject.color)">
                <span class="glyphicon glyphicon-thumbs-down flipped-h" style="color: white; font-size: 30px;"></span>
            </button>

        </div>
    </div>

    <div ng-hide="score == threshold" class="container-fluid" style="width: 60%; margin-top: 10px; margin-bottom: 30px">
        <h3>Til neste gang:</h3>
        <div ng-repeat="wrong in wrongList track by $index">
            <br>
            <h4>{{exercises[wrong].question.text}}</h4>
            <div ng-if="exercises[wrong].type == 'mc'" ng-include="'webapp/resultpageType/mc.html'"></div>
            <div ng-if="exercises[wrong].type == 'pd'" ng-include="'webapp/resultpageType/pd.html'"></div>
            <div ng-if="exercises[wrong].type == 'tf'" ng-include="'webapp/resultpageType/tf.html'"></div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="userFeedbackPopover.html">
    <div>
        Ønsker du gi oss en mer detaljert tilbakemelding?
    </div>
    <div ng-repeat="option in userFeedbackOptions track by $index">
        <input type="checkbox" ng-model="userFeedbackSendList[option]"> {{option}}
    </div>
    <div style="margin-bottom: 2px">
        <input type="checkbox" ng-model="userFeedbackSendList.other"> Annet
    </div>
    <div align="right">
        <button class="btn btn-primary">Send</button>
        <button ng-click="closeUserFeedbackPopover()" class="btn btn-default">Lukk</button>
    </div>
</script>
