
<div class="form-group" align="center">
    <input class="form-control" ng-model="subjectFilter" type="text" placeholder="Søk etter fag..." style="width: 400px; height: 50px;">
    <br>
</div>

<div class="container-fluid">
    <table class="table" align="center">
        <tr ng-repeat="i in info | orderBy:'code' | filter:subjectFilter" style="border: none;">
            <td align="center">
                <a ng-href="#/subjects/{{targetId}}">
                    <button class="btn btn-default" style="width: 50%; height: 120px;"  ng-style="setColor(i.color)" ng-click="setTargetId(i._id)">
                        <h1 style="color: white;">{{i.name}}</h1>
                        <h4 style="color: white">{{i.code}}</h4>
                    </button>
                </a>
            </td>
        </tr>
    </table>
</div>

