

<div ng-app="mainApp.webapp" ng-controller="tfCtrl">

    <div class="container-fluid" style="width: 960px; margin-left: -15px">
        <div ng-style="getQHeight() > 170 ? {'height': (getQHeight()+30)+'px'}:{'height': 190+'px'}" class="container-fluid">
            <div id="question">
                <h3 align="left">{{exercises[number].content.question.text}}</h3>
                <div ng-if="exercises[number].content.question.image" style="margin-bottom: 10px" align="center">
                    <img ng-src="{{getImage(exercises[number].content.question.image)}}" ng-click="showBigImage=!showBigImage"
                         ng-style="showBigImage? {'height': '400px', 'cursor': 'pointer'}: {'height': '200px', 'cursor': 'pointer'}">
                </div>
            </div>
        </div>

        <div ng-repeat="i in ordering track by $index" ng-class="'div-alternatives'" ng-style="{'width': (100/2-1)+'%'}">
            <button ng-mouseover="setButtonClassNum()" ng-class="getButtonClass($index, ordering.length)" class="btn-tfalternatives" ng-click="checkAnswer(i)" onclick="this.blur()" ng-style="getStyle(i)">
                <h3>{{alternatives[i]}}</h3>
            </button>

        </div>


        <div ng-include="'webapp/quiz_buttons.html'"></div>


    </div>

</div>