

<div ng-include="'navbar/navbar_main.html'"></div>

<div class="container-fluid" style="background-color: #336E7B; margin-top: -20px" align="center">
    <div class="container-fluid" align="center">
        <h5 style="color: white; font-size: 16px; display: inline-block">Ace Education fins også til iOS og Android!</h5>
        <div class="container-fluid" style="display: inline-block">
            <a href="https://play.google.com/store/apps/details?id=theaceteam.ace" target="_blank">
                <img src="img/android_white.svg" style="width: 27px; margin: 1px">
            </a>
            <a href="https://itunes.apple.com/no/app/ace-education/id1055205858?l=no&mt=8" target="_blank">
                <img src="img/apple_white.svg" style="width: 27px; margin: 1px">
            </a>
        </div>
    </div>
</div>

<div class="container" style="width: 80px; margin-bottom: 20px" align="center">
</div>
<div class="container-fluid" align="center" style="margin-bottom: 30px; width: 100%; height: 70px; background-color: #F1F1F2">
    <input id="0" class="form-control" ng-model="subjectFilter" type="text" placeholder="Søk etter fag..." style="width: 400px; height: 50px; margin-top: 10px">
</div>
<div ng-show="stickySearch" class="fixed-search" align="center" style="margin-bottom: 30px; width: 100%; height: 70px; background-color: #F1F1F2">
    <input id="1" class="form-control" ng-model="subjectFilter" type="text" placeholder="Søk etter fag..." style="width: 400px; height: 50px; margin-top: 10px">
</div>

<div class="container-fluid" align="center">
    <div ng-repeat="i in subjects | orderBy: 'code' | filter:subjectSearch">
        <a ng-if="i.released" ng-href="#/webapp/{{targetId}}">
            <button id="{{i._id}}" class="btn btn-default" style="width: 60%; height: 120px; margin-bottom: 20px; white-space: normal"  ng-style="setColor(i.color)" ng-click="setTarget(i)">
                <h1 class="h1-subjectName" style="color: white; margin-top: 0;">{{i.name}}</h1>
                <h4 style="color: white; margin-bottom: 0;">{{i.code}}</h4>
            </button>
        </a>
    </div>
</div>
<div ng-include="'modal/suggestionModal.html'"></div>

<div ng-hide="loading" class="container-fluid" align="center" style="margin-top: 10px; margin-bottom: 40px">
    <p>Finner ikke det du leter etter?</p>
    <button class="btn btn-default" ng-click="openSuggestion()" onclick="this.blur()">Etterspør fag</button>
</div>


<div class="cssload-container" ng-show="loading">
    <div class="cssload-item cssload-moon"></div>
</div>


