<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="mainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ace(beta)</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
        b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("88c1f7835742091ce51bd106fef2638e", { track_pageview: false });</script>
</head>
<nav ng-hide="hideNavBar()" class="navbar navbar-default" style="background-color: white">
    <div class="container-fluid" ng-style="mobileNav()? {'width': '960px'}: {'width': '100%'}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{appPath}}/"><img ng-click="resetMain()" src="img/ace.png" style="width: 100px;"></a>
        </div>
        <div uib-collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
            <ul style="width: 80%" class="nav navbar-nav">
                <li><a href="#{{appPath}}/">Quizzer</a></li>
                <!--<li ng-if="!mobile"><a href="#">Content editor</a></li>-->
                <li><a href="#/about/{{appPath.substring(1)}}">Om oss</a></li>
                <!--<li ng-style="mobileNav()? {'float':'right'}: {}"><a href="#">Min profil</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<body style="background-color: #F1F1F2">
<div ng-if="showAll" ng-view autoscroll="true"></div>

<div ng-if="!hideCookiesInfo" class="container-fluid" style="position: fixed; bottom: 10px; right: 20px; height: 25px; background-color: black">
    <span style="color: white; font-size: 16px; display: inline-block; margin-top: 2px">Vi bruker cookies. </span>
    <a style="cursor: pointer" ng-click="okCookies()">Ok</a>
</div>
<!--<div class="container-fluid" align="center" style="width: 30%;margin-top: 50px;margin-bottom: 50px">-->
    <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<a href="#/about/{{appPath.substring(1)}}">Om oss</a>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<a href="">Kontakt oss</a>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<a href="">Diverse</a>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
<script src="bower_components/angulartics/dist/angulartics.min.js"></script>
<script src="bower_components/angulartics-mixpanel/dist/angulartics-mixpanel.min.js"></script>
<script src="mainApp.js"></script>
<script src="info/about.js"></script>
<script src="webapp/webapp.js"></script>
</body>
</html>
