<div ng-app="mainApp.webapp" ng-controller="mathCtrl" style="width: 100%">
    <div class="container-fluid" style="margin-top: 20px" align="center">
        <div align="left">
            <h2>{{exercises[number].content.exam}}</h2>
        </div>
        <img ng-src="{{getImage(exercises[number].content.question.image)}}"
             ng-style="{'width': '100%'}">

        <button ng-show="!showAnswer" class="btn btn-default" ng-style="setColor(subject.color)" ng-click="showAnswer=true">
            <span style="font-size: 20px; color: white;">Vis fasit</span>
        </button>
        <button ng-show="showAnswer" class="btn btn-default" ng-style="setColor(subject.color)" ng-click="showAnswer=false">
            <span style="font-size: 20px; color: white;">Skjul fasit</span>
        </button>
        <p ng-show="showAnswer">(Fasit ligger under knappene)</p>
        <div ng-show="showAnswer">
            <div ng-include="'webapp/quizButtonsParts/nav_buttons.html'" style="margin-top: -30px"></div>
            <img ng-src="{{getImage(exercises[number].content.correct.image)}}"
                 ng-style="{'width': '100%'}">
        </div>
    </div>

    <div ng-include="'webapp/quiz_buttons.html'" style="margin-top: -30px"></div>
</div>