

<div ng-app="mainApp.webapp" ng-controller="mcCtrl" style="width: 100%">
    <div class="container-fluid" style="width: 100%;">
        <div class="container-fluid">
            <h4 id="question" align="left">{{exercises[number].question}}</h4>
        </div>

        <div class="col-xs-12" ng-repeat="i in ordering track by $index" style="width: 100%; height: 120px; margin-top: 2px; margin-bottom: 2px">
            <button ng-mouseover="setButtonClassNum()" style="height: 120px" class="btn-quizloaded btn-mcalternatives" ng-style="getStyle(i)" ng-click="checkAnswer(i)" onclick="this.blur()">
                {{alternatives[i]}}
            </button>
        </div>



        <div ng-include="'webapp/quiz_buttons.html'" style="margin-top: 0px"></div>
    </div>

</div>

