<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--<div ng-include="'navbar/navbar_main.html'" autoscroll="true" style="margin-top: -20px"></div>-->

<div class="container-fluid" style="background-color: #336E7B; margin-top: -20px" align="center">
    <div class="container-fluid" align="center">
        <h5 style="color: white; font-size: 16px; display: inline-block">Ace Education fins også til iOS og Android!</h5>
        <div class="container-fluid" style="display: inline-block">
            <a href="https://play.google.com/store/apps/details?id=theaceteam.ace" target="_blank">
                <img src="img/android_white.svg" style="width: 27px; margin: 1px">
            </a>
            <a href="https://itunes.apple.com/no/app/ace-education/id1055205858?l=no&mt=8" target="_blank">
                <img src="img/apple_white.svg" style="width: 27px; margin: 1px">
            </a>
        </div>
    </div>
</div>

<div class="container" style="width: 100%; margin-bottom: 20px" align="center">
</div>
<div class="container-fluid" align="center" style="margin-bottom: 20px; width: 100%; height: 70px; background-color: #F1F1F2">
    <input id="0" class="form-control" ng-model="subjectFilter" type="text" placeholder="Finn et fag..." style="width: 100%; height: 50px; margin-top: 10px">
</div>

<div class="container-fluid" align="center" style="width: 100%">

    <div ng-if="prevSubject" ng-repeat="i in [prevSubject] | filter:subjectSearch">
        <h4 class="opensans-text" align="left" style="width: 100%;">Sist besøkte fag:</h4>
        <a ng-href="#/mobile/{{targetId}}">
            <button id="{{prevSelectdSubject.id}}" class="btn btn-default" style="width: 100%; height: 120px; margin-bottom: 20px; white-space: normal"  ng-style="setColor(prevSubject.color)" ng-click="setTarget(prevSubject)">
                <h3 class="h1-subjectName" style="color: white; margin-top: 0;">{{prevSubject.name}}</h3>
                <h4 style="color: white; margin-bottom: 0;">{{prevSubject.code}}</h4>
            </button>
        </a>
        <h4 class="opensans-text" align="left" style="width: 100%;">Alle fag:</h4>
    </div>

    <div ng-repeat="i in subjects | orderBy: 'code' | filter:subjectSearch">
        <a ng-href="#/mobile/{{targetId}}">
            <button id="{{i.id}}" class="btn btn-default" style="width: 100%; height: 120px; margin-bottom: 20px; white-space: normal"  ng-style="setColor(i.color)" ng-click="setTarget(i)">
                <h3 class="h1-subjectName" style="color: white; margin-top: 0;">{{i.name}}</h3>
                <h4 style="color: white; margin-bottom: 0;">{{i.code}}</h4>
            </button>
        </a>
    </div>
</div>
<div ng-include="'modal/suggestionModal.html'"></div>

<div ng-hide="loading" class="container-fluid" align="center" style="margin-top: 10px; margin-bottom: 40px">
    <p>Fant du ikke det du lette etter?</p>
    <button class="btn btn-default" ng-click="openSuggestion()" onclick="this.blur()">Etterspør fag</button>
</div>


<div class="cssload-container" ng-show="loading">
    <div class="cssload-item cssload-moon"></div>
</div>


