

<div ng-app="mainApp.webapp" ng-controller="tfCtrl">

    <div class="container-fluid" style="width: 100%;">
        <div class="container-fluid">
            <h4 id="question" align="left">{{exercises[number].content.question.text}}</h4>
            <div ng-if="exercises[number].content.question.image" style="margin-bottom: 10px" align="center">
                <img ng-src="{{getImage(exercises[number].content.question.image)}}" ng-click="showBigImage=!showBigImage"
                     ng-style="showBigImage? {'height': '170px', 'cursor': 'pointer'}: {'height': '100px', 'cursor': 'pointer'}">
            </div>
        </div>

        <div ng-repeat="i in ordering track by $index" class="col-xs-12" style="width: 100%; height: 120px; margin-top: 1px; margin-bottom: 1px">
            <button ng-mouseover="setButtonClassNum()" style="height: 120px" class="btn-quizloaded btn-tfalternatives" ng-click="checkAnswer(i)" onclick="this.blur()" ng-style="getStyle(i)">
                <p>{{alternatives[i]}}</p>
            </button>

        </div>


        <div ng-include="'webapp/quiz_buttons.html'" style="margin-top: 0px;"></div>


    </div>

</div>